<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljz.compilationVSM.dao.CodeBlockMapper">
    <select id="getComment" resultType="java.lang.String">
        select mc.content
        from method_code mc
        inner join source s
            on mc.source_id=s.id
        where s.language=#{language}
        and s.comp_language=#{compLanguage}
    </select>
    <select id="getMethodName" resultType="com.ljz.compilationVSM.entity.MethodName">
        select id,name,level,commit_num,pass_num
        from method_name
        where language=#{language}
          and comp_language=#{compLanguage}
    </select>
    <select id="getMethodBody" resultType="com.ljz.compilationVSM.entity.MethodBody">
        select id,description,input,output,in_param,out_param,body
        from method_body
        where method_id=#{methodId}
    </select>
</mapper>
