<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljz.compilationVSM.infrastructure.mapper.StudentMapper">
    <update id="updateStudentInfo" parameterType="com.ljz.compilationVSM.infrastructure.po.StudentPO">
        UPDATE t_student
        <set>
            <if test="number != null">
                number = #{number}
            </if>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="adminClass != null">
                admin_class = #{adminClass}
            </if>
            <if test="teachClass != null">
                teach_class = #{teachClass}
            </if>
            <if test="objScore != null">
                obj_score = #{objScore}
            </if>
            <if test="methodScore != null">
                method_score = #{methodScore}
            </if>
            <if test="lexerScore != null">
                lexer_score = #{lexerScore}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getStudentsByCodeIds" parameterType="java.util.Set" resultType="com.ljz.compilationVSM.infrastructure.po.StudentPO">
        SELECT stu.name,stu.number,stu.admin_class,stu.teach_class
        FROM `t_lexer_answer` AS ans
        LEFT JOIN `t_student` AS stu
        ON ans.user_id = stu.user_id
        <where>
            ans.is_delete = 0
            AND stu.is_delete = 0
            AND ans.best_code_id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>
